.header {
  width: 68.75%;
  display: flex;
  justify-content: flex-start;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header__logo {
    padding-left: 8.4375%;
    width: 126px;
    height: 24px;
  }
}
